@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400&family=Poppins:wght@200&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
}

